.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3.2rem;
  color: var(--color);
  transition: color 0.2s, background-color 0.2s;
  margin: auto auto 0.5rem;
  border-bottom: 0.25rem solid transparent;


  &:hover {
    background-color: var(--main-hover-color);
    border-radius: 0.5rem;
  }
}

.buttonActive {
  @extend .button;
  border-bottom: 0.25rem solid #1877f2;

  &:hover {
    background-color: #f0f2f5;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
