.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    margin: auto;
    height: 3.3rem;
    color: var(--color);
}

.buttonActive {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.3rem;
    width: 8rem;
    margin: auto;
    border-bottom: 0.25rem solid #1877f2;
}
