@use "../mixins.scss" as *;

.page {
    color: var(--color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: var(--background-color);

    &::-webkit-scrollbar {
        width: 0.5rem;
        color: var(--color);
        background-color: var(--background-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 0.5rem;
    }

    .content {
        display: flex;
        flex-direction: row;
        height: 92.5vh;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: var(--background-color);

        .contentPage {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            height: 100%;

            .box {
                display: flex;
                flex-direction: column;
                width: 65vw;
                max-width: 60rem;
                padding: 1rem;
                height: calc(100% - 6rem);
                background-color: var(--main-color);
                box-shadow: var(--box-shadow);
                border-radius: var(--border-radius);

                h3 {
                    width: 100%;
                    text-align: start;
                    padding: 0;
                    margin: 0 0 0.5rem;
                }

                .body {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    border-radius: var(--border-radius);
                    border: 1px solid var(--border-color);
                    background-color: var(--background-color);
                    overflow-y: auto;
                    opacity: 50%;

                    .image {
                        background-color: var(--main-color);

                        > img {
                            width: 100%;
                            filter: grayscale(100%);
                            border-radius: var(--border-radius);
                        }
                    }

                    > header {
                        border: none;
                        text-align: start;
                        background-color: var(--main-color);
                        border-bottom: var(--border);

                        h2 {
                            margin: 0 1rem 0;
                            padding-top: 1rem;
                            color: gray;
                        }

                        p {
                            margin: 0 1rem;
                        }

                        > hr {
                            width: calc(100% - 2rem);
                            margin-top: 1rem;
                        }

                        .tab {
                            display: flex;
                            flex-direction: row;
                            width: fit-content;
                            margin: 0.5rem 1rem 0;

                            h4 {
                                margin: 0;
                                padding: 1rem 1rem;
                                font-weight: bolder;
                                color: gray;
                            }
                        }
                    }

                    .about {
                        display: flex;
                        flex-direction: column;
                        align-self: center;
                        padding: 0.5rem;
                        margin-top: 2rem;
                        width: 50vw;
                        max-width: 50rem;
                        background-color: var(--main-color);
                        border-radius: var(--border-radius);

                        h3 {
                            margin: 0 0 0 0.5rem;
                        }

                        p {
                            margin: 0 0 0 0.5rem;
                            text-align: start;
                        }
                    }

                    .inputHeader {
                        align-self: center;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0.5rem;
                        margin: 2rem 0;
                        width: 50vw;
                        max-width: 50rem;
                        background-color: var(--main-color);
                        border-radius: var(--border-radius);

                        >img {
                            @include profile-picture(3rem);
                            margin: 0.5rem 0;
                        }

                        > button {
                            width: 100%;
                            height: 3rem;
                            margin: 0 0.5rem;
                            border-radius: 20rem;
                            background-color: rgb(100, 100, 100, 0.2);
                            color: gray;
                            text-align: start;
                            padding-left: 1.5rem;
                            font-size: 1.2rem;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
