@use "../mixins.scss" as *;

.barSpace {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: calc(100vw - 20rem);
    overflow: hidden;
}

.bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    width: 20rem;
    height: calc(100% - 3rem);
    overflow: hidden;
    margin-top: -0.5rem;
    box-shadow: var(--box-shadow-very-light);
    color: var(--color);

    header {
        margin: 0.5rem 1rem;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: row;
        align-self: start;
        width: 100%;

        img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: cover;
            border-radius: var(--border-radius);
        }

        .bio {
            display: flex;
            flex-direction: column;
            text-align: start;
            margin-left: 0.5rem;
            height: 3rem;

            h4 {
                margin: 0;
                height: auto;
            }

            p {
                margin: 0;
                height: auto;
                font-size: 0.9rem,;
            }

        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        width: calc(100% - 2rem);
        margin: 1rem;

        > a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: calc(100% - 2rem);
            background-color: var(--gray-color);
            margin-right: 0.5rem;
            border-radius: var(--border-radius);
            outline: none;
            border: none;
            height: 1rem;
            padding: 0.5rem;
            text-decoration: none;
            color: var(--color);
        }
        > button {
            width: calc(100% - 2rem);
            background-color: var(--blue-button);
            border-radius: var(--border-radius);
            outline: none;
            border: none;
            padding: 0.5rem;
            text-decoration: none;
            color: white;

        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        &:nth-child(1) {
            margin-top: 1rem;
        }
        .container,
        .containerActive {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding-left: 1rem;
            height: 3.5rem;

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20rem;
                background-color: var(--button-color-hover);
                width: 2.5rem;
                height: 2.5rem;

                svg {
                    color: black;
                }
            }

            h4 {
                display: flex;
                justify-content: center;
                margin-left: 0.5rem;
            }

            &:hover {
                background-color: var(--hover-color);
                cursor: pointer;
            }
        }

        .containerActive .logo {
            background-color: #1877f2;

            svg {
                color: white;
            }
        }

        button {
            display: flex;
            justify-content: center;
            padding: 0.5rem;
            border-radius: 0.5rem;
            width: calc(100% - 3rem);
            font-weight: bolder;
            background-color: var(--blue-light-button);
            outline: none;
            border: none;
            text-align: center;
            margin: 0.5rem 0;

            a {
                color: var(--blue-color);
                text-decoration: none;
            }

            &:hover {
                background-color: rgb(119, 165, 254, 0.3);
            }
        }

        > nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .tab {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3rem;
                width: 100%;
                margin: 0.5rem;

                &:hover {
                    cursor: pointer;
                }
            }

            .tabActive {
                @extend .tab;
                color: var(--blue-color);
                border-bottom: var(--border-tab-active);
            }
        }

        h3 {
            display: flex;
            width: calc(100% - 3rem);
            align-items: start;
            margin: 0 0 1rem;
            font-size: 0.9rem;
        }

        a {
            width: 100%;
            color: var(--color);
            text-decoration: none;

            .group {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;
                width: 100%;
                padding: 0.5rem 0.5rem 0.5rem;

                img {
                    width: 3rem;
                    height: 3rem;

                    object-fit: cover;
                    border-radius: 0.5rem;
                }

                h4 {
                    margin: 0;
                    margin-left: 0.5rem;
                }

                &:hover {
                    background-color: var(--hover-color);
                    cursor: pointer;
                }
            }
        }

        .tools {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            width: 100%;
            height: 2rem;
            padding: 0.5rem 0.5rem 0.5rem;

            svg {
                width: 3rem;
            }

            p {
                margin: 0;
            }

            &:hover {
                background-color: var(--hover-color);
                cursor: pointer;
            }
        }
    }
}
