@use "../mixins.scss" as *;

.page {
    color: var(--color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-color: var(--background-color);

    &::-webkit-scrollbar {
        width: 0.5rem;
        color: var(--color);
        background-color: var(--background-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 0.5rem;
    }

    .content {
        display: flex;
        flex-direction: row;
        //height: 92.5vh;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--background-color);

        .contentCenter {
            flex: 1;
            width: 100%;

            > header {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: var(--main-color);
                box-shadow: var(--box-shadow-very-light);

                .imageBox {
                    position: relative;
                    max-width: 75rem;
                    width: 60vw;
                    border-radius: var(--border-radius);

                    svg:nth-child(1) {
                        position: absolute;
                        padding: 0.3rem;
                        border-radius: 20rem;
                        background-color: rgb(200, 200, 200, 1);
                        bottom: 4%;
                        right: 1%;

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(100, 100, 100, 1);
                        }
                    }

                    > img {
                        border-radius: var(--border-radius);
                        max-width: 75rem;
                        max-height: 20rem;
                        height: 50vh;
                        width: 60vw;
                        object-fit: cover;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 75rem;
                    width: 60vw;

                    .top {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;

                        h2 {
                            margin: 1rem;
                        }

                        > button {
                            background-color: var(--blue-button);
                            border-radius: var(--border-radius);
                            color: white;
                            outline: none;
                            border: none;
                            padding: 0.75rem;
                            margin: 1rem;
                            width: 6rem;

                            h4 {
                                margin: 0;
                                font-size: 1rem;
                                font-weight: normal;
                            }
                        }
                    }

                    nav {
                        margin: 1rem 1rem 0;
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        align-items: center;

                        .tabContent {
                            padding: 1rem;
                            width: 7rem;
                            border-bottom: var(--border-tab);
                        }

                        .tabContentActive {
                            @extend .tabContent;
                            border-bottom: var(--border-tab-active);
                            color: var(--blue-color);
                            font-weight: bolder;
                        }
                    }
                }
            }

            article {
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                height: fit-content;
                overflow-y: auto;

                @media (max-width: 1750px) {
                    flex-direction: column-reverse;
                    align-items: center;
                }

                .about {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    height: inherit;

                    @media (max-width: 1750px) {
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                    }

                    .aboutBox {
                        margin: 1rem 1rem 0;
                        width: 30rem;
                        box-shadow: var(--box-shadow-very-light);
                        border-radius: var(--border-radius);
                        background-color: var(--main-color);

                        @media (max-width: 1750px) {
                            width: 42.5rem;
                        }

                        > h3 {
                            text-align: start;
                            margin: 1rem;
                        }

                        > p {
                            text-align: start;
                            margin: 1rem;
                        }
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    width: 44.5rem;
                    overflow-y: hidden;

                    .inputBox {
                        width: 42.5rem;
                        margin: 1rem 1rem 0;
                        box-shadow: var(--box-shadow-very-light);

                        .inputHeader {
                            display: flex;
                            flex-direction: row;
                            padding: 0.5rem 1rem;
                            background-color: var(--main-color);
                            border-radius: var(--border-radius);

                            > img {
                                @include profile-picture(3rem);
                            }

                            button {
                                margin-left: 1rem;
                                border-radius: 2rem;
                                flex: 1;
                                background-color: rgb(100, 100, 100, 0.1);
                                text-align: start;
                                font-size: 1rem;
                                color: gray;
                                padding: 0.6em 1.2em;
                                border-color: transparent;

                                &:hover {
                                    background-color: rgb(100, 100, 100, 0.15);
                                    border: 1px solid darkgray;
                                }
                            }
                        }
                    }
                }

                .posts {
                    width: 42.5rem;
                    margin: 0 1rem 1rem;
                }
            }
        }
    }
}
