

.background {
  display: flex;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  .box {
    color: black;
    display: flex;
    flex-direction: column;
    width: 25rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 10px rgb(100, 100, 100, 0.3);

    header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      h2 {
        flex: 1;
        padding: 0;
        margin: 0;
        margin-left: 1rem;
      }

      svg {
        cursor: pointer;
      }
    }

    hr {
      width: 95%;
      background-color: rgb(100, 100, 100, 0.1);
      border-color: transparent;
      padding: 0 1rem;
      margin: 0.5rem 0;
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem;
      background-color: rgb(100, 100, 100, 0.1);
      border-radius: 2rem;

      > input {
        font-size: 1rem;
        border: none;
        color: black;
        outline: none;
        padding-left: 1rem;
        width: 100%;
        background-color: transparent;
      }
    }

    .friendList {
      display: flex;
      flex-direction: column;
      height: 20rem;

      .friend {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        width: 100%;


        > div {
          display: flex;
          flex-direction: row;
          align-items: center;

          > img {
            width: 3rem;
            height: 3rem;
            border-radius: 20rem;
            object-fit: cover;
          }

          .profile {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            text-align: start;

            p {
              margin: 0;
              font-size: 0.9rem;
              text-align: start;
            }

            > span {
              background-color: rgb(100, 100, 255, 0.3);
              border-radius: 0.25rem;
              font-size: 0.9rem;
              text-align: center;
              width: 5rem;
            }
          }
        }

        .icons {

          svg {
            padding: 0.5rem;
            margin: 0 0.5rem;

            &:hover {
              cursor: pointer;
              background-color: var(--hover-color);
            }
          }
        }
      }
    }
  }
}
