.toolbar {
    background-color: transparent;
}

.editor {
    color: black;
    width: inherit;
    padding: 0 1rem;
    overflow-y: hidden;
}

.tag {
    background-color: #00bfff;
    cursor: pointer;
}

.hashtag {
    color: black;
    background-color: rgba(24, 119, 242, 0.2);;
    cursor: pointer;
}

.mention {
    position: relative;
    color: black;
    background-color: rgba(24, 119, 242, 0.2);;
    cursor: pointer;

    > div {
        position: absolute;
    }
}
