

.bar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 3.5rem;
  background-color: white;
  justify-content: space-between;
  padding-top: 0.5rem;

  .left {

    svg {
      align-self: end;
      margin-left: 1rem;
    }
  }

  .center {
    margin: auto;
    display: flex;
    flex-direction: row;
    color: black;
  }

  .end {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
  }
}
