@use "./assets/styles/mixins.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&display=swap");

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    //color-scheme: light dark;
    //color: rgba(255, 255, 255, 0.87);
    //background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --background-color: #e9ecf1;
    --main-color: white;
    --blue-color: rgb(0, 100, 254);
    --gray-color: rgb(200, 200, 200, 0.5);
    --gray-text-color: rgb(100, 100, 100, 0.9);
    --gray-dark-color: rgb(100, 100, 100, 0.2);
    --box-shadow: 1px 1px 5px rgb(50, 50, 50, 1);
    --box-shadow-light: 1px 1px 5px rgb(50, 50, 50, 0.5);
    --box-shadow-very-light: 1px 1px 5px rgb(100, 100, 100, 0.2);
    --border-radius: 0.5rem;
    --border-color: rgb(200, 200, 200, 0.5);
    --border: 1px solid var(--border-color);
    --border-tab: 3px solid transparent;
    --border-tab-active: 3px solid var(--blue-color);
    --color: black;
    --button-color: rgb(100, 100, 100, 0.1);
    --button-color-hover: rgb(100, 100, 100, 0.2);
    --hover-color: rgb(100, 100, 100, 0.1);
    --blue-light-button: rgba(45, 136, 255, 0.2);
    --blue-light-button-text: #2d99ff;
    --blue-button: rgb(0, 100, 244);
    --blue-button-hover: rgb(0, 100, 2546);
    --modal-background-color: rgba(255, 255, 255, 0.8);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Segoe UI";
}

hr {
    width: 100%;
    background-color: rgb(100, 100, 100, 0.1);
    border-color: transparent;
}

.wysiwyg-mention {
    color: var(--blue-light-button-text);
    background-color: var(--blue-light-button);
    cursor: pointer;
    text-decoration: none;
}

.wysiwyg-hashtag {
    text-decoration: none;
    color: var(--blue-light-button-text);
}

button:hover {
    cursor: pointer;
}

.rdw-editor-wrapper * {
    position: unset;
}

.public-DraftEditorPlaceholder-inner {
    position: absolute;
}

.public-DraftEditorPlaceholder-root {
    position: relative;
}

.public-DraftStyleDefault-block,
.public-DraftStyleDefault-ltr {
    color: var(--color);
    margin-top: 0;
}

.rdw-suggestion-dropdown {
    color: var(--color);
    background-color: var(--background-color);
    outline: none;
    border: none;
    position: absolute;
    z-index: 100;

    @include scrollbar;
}

.rdw-mention-link {
    color: rgb(0, 100, 244);
    background-color: rgba(24, 119, 242, 0.2);
}

.rdw-suggestion-dropdown * {
    color: var(--color);
    background-color: var(--background-color);
    outline: none;
    border: none;

    @include scrollbar;
}

.rdw-suggestion-option-active {
    background-color: var(--blue-light-button);
}
//
//.rdw-editor-wrapper {
//  z-index: 100;
//}
