.container {
    background-color: var(--main-color);
    width: 12.5rem;
    height: 21rem;
    border-radius: 0.5rem;
    margin-top: -0.5rem;
    color: var(--color);
    box-shadow: var(--box-shadow-very-light);

    header {
        width: inherit;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;

        a {
            width: inherit;
            margin: 0;
            padding: 0;

            img {
                width: inherit;
                height: 12rem;
                object-fit: cover;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            align-self: start;
            margin: 0 0 0 0.5rem;
            height: 3rem;
        }

        button {
            width: 90%;
            height: 2rem;
            margin-bottom: 0.5rem;
            border-radius: 0.5rem;
            border: none;

            &:nth-child(2) {
                background-color: var(--blue-light-button);
                color: var(--blue-color);
            }

            &:nth-child(3) {
                background-color: var(--gray-color);
                color: black;
            }
        }
    }
}



.recommendFriendBox {
    background-color: var(--main-color);
    width: 12.5rem;
    height: 21rem;
    border-radius: 0.5rem;
    margin-top: -0.5rem;
    color: var(--color);
    box-shadow: var(--box-shadow-very-light);

    header {
        width: inherit;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;

        a {
            width: inherit;
            margin: 0;
            padding: 0;

            img {
                width: inherit;
                height: 12rem;
                object-fit: cover;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            align-self: start;
            margin: 0 0 0 0.5rem;
            height: 3.5rem;
        }

        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 2rem;
            margin-bottom: 0.5rem;
            border-radius: 0.5rem;
            border: none;
            color: var(--main-color);

            &:nth-child(2) {
                background-color: var(--blue-light-button);
                color: var(--blue-button);
            }

            &:nth-child(3) {
                background-color: rgb(100, 100, 100, 0.3);
                color: black;
            }

            > svg {
                margin-right: 0.5rem;
            }
        }
    }
}
