

.container {
  background-color: white;
  width: 15rem;
  height: 25rem;
  border-radius: 0.5rem;
  margin-top: -0.5rem;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);

  header {
    width: inherit;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    img {
      width: inherit;
      height: 15rem;
      object-fit: cover;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      align-self: start;
      margin: 0 0 0 0.5rem;
      height: 4.5rem;
    }

    button {
      width: 90%;
      height: 2rem;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;
      border: none;

      &:nth-child(2) {
        background-color: #1877f2;
      }

      &:nth-child(3) {
        background-color: rgb(100, 100, 100, 0.3);
        color: black;
      }
    }

  }

}
