@use "../mixins.scss" as *;

.pageUser {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--color);
    align-items: center;

    @include scrollbar;

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -1rem;
        background-color: var(--main-color);
        height: fit-content;
        width: 100%;

        .headerContent {
            position: relative;
            width: 55rem;
            margin: 0 1rem;
            max-width: 55rem;
            height: 20rem;

            svg:nth-child(1) {
                position: absolute;
                padding: 0.3rem;
                border-radius: 20rem;
                background-color: rgb(200, 200, 200, 1);
                bottom: 4%;
                right: 2%;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(100, 100, 100, 1);
                }
            }

            img:nth-child(3) {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }

            img:nth-child(4) {
                bottom: -25%;
                left: 2.5%;
                position: absolute;
                height: 10rem;
                width: 10rem;
                border-radius: 20rem;
                object-fit: cover;
                border: 0.25rem solid var(--main-color);
            }

            .circular {
                position: relative;

                svg {
                    bottom: -4rem;
                    left: 18%;
                    position: absolute;
                    padding: 0.3rem;
                    border-radius: 20rem;
                    background-color: rgb(200, 200, 200, 1);

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(100, 100, 100, 1);
                    }
                }
            }
        }

        .profile {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: space-between;
            margin: 0.5rem 25rem 0;
            width: 100vw;
            max-width: 55rem;

            .text {
                margin-left: 27%;

                h1 {
                    display: flex;
                    text-align: start;
                    color: var(--color);
                    margin-top: 0;
                    margin-bottom: 0;
                }

                p {
                    color: var(--color);
                    display: flex;
                    text-align: start;
                    margin: 0;
                    margin-top: -0.4rem;
                }
            }

            > span {
                display: flex;
                flex-direction: row;

                > button {
                    display: flex;
                    margin-top: 1rem;
                    margin-right: 0;
                    border-radius: 0.25rem;
                    background-color: rgb(100, 100, 100, 0.2);
                    color: var(--color);
                    border: none;
                    padding: 0.5rem 0.75rem;
                    align-items: center;

                    svg {
                        margin-right: 0.5rem;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(100, 100, 100, 0.4);
                    }
                }

                > button:nth-child(2) {
                    margin-left: 0.5rem;

                    svg {
                        margin: 0;
                    }
                }

                .container {
                    display: flex;
                    flex-direction: row;

                    button {
                        display: flex;
                        margin-top: 1rem;
                        border-radius: 0.25rem;
                        background-color: rgb(100, 100, 100, 0.2);
                        color: var(--color);
                        border: none;
                        padding: 0.5rem 0.75rem;
                        justify-content: center;
                        align-items: center;

                        &:nth-child(1) {
                            margin-right: 1rem;
                            background-color: #1877f2;
                            color: white;
                            opacity: 90%;

                            &:hover {
                                cursor: pointer;
                                background-color: #1877f2;
                                opacity: 100%;
                            }
                        }

                        svg {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 0.25rem;
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(100, 100, 100, 0.4);
                        }
                    }
                }
            }

        }

        .info {
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: start;
            margin-top: 1rem;
            margin-left: 5rem;
            width: 100vw;
            max-width: 42.5rem;

            p {
                display: flex;
                align-items: center;
                color: var(--color);
                font-size: 0.9rem;

                svg {
                    margin-right: 0.5rem;
                    margin-bottom: 0.2rem;
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    margin-left: 2rem;
                }
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            width: 100vw;
            max-width: 42.5rem;
            align-items: start;
            justify-content: start;

            button {
                background-color: transparent;
                border: none;
                border-bottom: 0.25rem solid transparent;
                width: 100%;
                color: var(--color);
                height: 3rem;
                margin: 0 2rem;
            }

            .active {
                color: #1877f2;
                font-weight: bolder;
                border-bottom: 0.25rem solid #1877f2;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-width: 42.5rem;
        margin: 0 1rem;
        color: black;
    }

    .contentFriend {
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-width: 62.5rem;
        margin: 0 1rem;
        color: black;
    }
}

.modalEditUser {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--modal-background-color);
    justify-content: center;
    align-items: center;
    z-index: 10000;

    .registerBox {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow-light);
        background-color: var(--main-color);
        align-items: center;
        color: var(--color);

        header {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            h2 {
                flex: 30;
                margin-left: 4rem;
            }

            div svg {
                display: flex;
                align-self: center;
                flex: 1;
                padding: 0.5rem;
                border-radius: 10rem;
                margin: 1rem;
                background-color: var(--button-color);
                cursor: pointer;
            }
        }

        .inputBox {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0 1rem;

            .inputName {
                display: flex;

                input {
                    border: var(--border);
                    background-color: var(--button-color);
                    padding: 1rem;
                    border-radius: 0.25rem;
                    color: black;
                    font-size: 1rem;
                    width: 10rem;
                    outline: none;
                    margin: 0.5rem 0;

                    &:nth-child(1) {
                        margin-right: 0.5rem;
                    }

                    &:nth-child(2) {
                        margin-left: 0.5rem;
                    }

                    &::placeholder {
                        color: gray;
                    }
                }
            }

            input {
                border: var(--border);
                background-color: var(--button-color);
                padding: 1rem;
                border-radius: 0.25rem;
                color: black;
                font-size: 1rem;
                width: inherit;
                outline: none;
                margin: 0.5rem 0;

                &::placeholder {
                    color: gray;
                }

                &::-webkit-calendar-picker-indicator {
                    filter: invert(1);
                }
            }

            label {
                font-size: 0.9rem;
                font-family: Arial, serif;
                align-self: start;
                margin-top: 0.5rem;
            }

            .genderBox {
                display: flex;
                flex-direction: row;
                align-content: space-between;
                justify-content: center;

                label {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;
                    width: 100%;
                    background-color: var(--button-color);
                    padding: 0.25rem 1rem;
                    text-align: start;
                    border: var(--border);
                    border-radius: 0.25rem;

                    &:nth-child(1) {
                        margin-right: 0.5rem;
                    }

                    &:nth-child(2) {
                        margin-right: 0.5rem;
                    }

                    p {
                        flex: 10;
                        align-self: start;
                        color: var(--color);
                        margin: auto;
                    }

                    input[type="radio"] {
                        background-color: var(--button-color);
                        border-radius: 100%;
                        flex: 1;
                        justify-self: end;
                    }
                }
            }

            button {
                border-radius: var(--border-radius);
                background-color: var(--blue-button);
                padding: 0.6em 1.2em;
                border-color: transparent;
                color: white;
                margin: 0.5rem 0 1rem;

                h3 {
                    margin: 0;

                }
            }

            p {
                color: var(--blue-button);
                margin: 0.5rem 0 1rem;
                font-size: 0.9rem;
            }
        }
    }
}

.contentBox {
    text-align: start;
    color: var(--color);

    h1 {
        color: transparent;
    }

    h2 {
        text-align: start;
    }

    .friendList {
        overflow: hidden;
        display: grid;
        //grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 0.5rem;
        grid-gap: 1rem;
        width: 100%;
        margin-bottom: 2rem;
    }
}

.peopleMightKnow {
    display: flex;
    flex-direction: column;
    width: 55rem;
    margin: 2rem 1rem 0;
    max-width: 55rem;
    height: 23rem;
    gap: 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1rem;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    h3 {
        align-self: start;
        margin: 0;
    }

    .content {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        width: 100%;
        height: 75%;
        align-items: center;
        padding-right: 2rem;
        //overflow-x:auto;

        h4 {
            color: var(--color);
            font-size: 1.1rem;
            width: 100%;
        }
    }
}
