@use "../mixins.scss" as *;

.background {
    display: flex;
    position: fixed;
    background-color: var(--modal-background-color);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 100;

    .box {
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 30rem;
        border-radius: var(--border-radius);
        background-color: var(--main-color);
        box-shadow: var(--box-shadow);

        header {
            display: flex;
            flex-direction: row;
            align-items: center;

            h2 {
                color: var(--color);
                margin-left: 5rem;
                flex: 100;
            }

            svg {
                display: flex;
                align-self: center;
                flex: 1;
                padding: 0.5rem;
                border-radius: 10rem;
                margin: 1rem;
                background-color: var(--button-color);
                color: var(--color);

                &:hover {
                    background-color: var(--button-color-hover);
                    cursor: pointer;
                }
            }
        }

        hr {
            width: 90%;
            background-color: rgb(100, 100, 100, 0.1);
            margin-top: 0;
            border-color: transparent;
            padding: 0 1rem;
        }

        main {
            color: var(--color);
            height: 28rem;
            overflow-y: auto;
            overflow-x: hidden;

            @include scrollbar;

            .profile {
                margin: 0 1rem 0.5rem;
                display: flex;
                flex-direction: row;

                .name {
                    display: flex;
                    flex-direction: column;
                    margin-left: 1rem;
                    align-content: start;
                    text-align: start;
                    width: 200rem;

                    > div {

                        margin: 0;

                        b {
                            margin: 0;
                        }

                        >div {
                            margin: 0;

                        }


                        > span {
                            font-size: 0.75rem;
                            text-overflow: ellipsis;
                        }
                    }

                    .select {
                        display: flex;
                        flex-direction: row;


                        select * {
                            width: 5rem;
                            background-color: var(--button-color) !important;
                            color: black;
                            border: none;
                            padding: 0.25rem;
                            border-radius: 0.5rem;
                            font-weight: bold;
                        }

                        > svg {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0.2rem;
                            margin: 0 0 0 0.5rem;
                            border-radius: var(--border-radius);
                            cursor: pointer;

                            &:hover {
                                background-color: var(--button-color-hover);
                            }
                        }

                        select {
                            width: 5rem;
                            background-color: var(--button-color);
                            color: var(--color);
                            outline: none;
                            border: none;
                            padding: 0.25rem;
                            border-radius: var(--border-radius);
                            font-weight: bold;
                        }
                    }
                }
            }

            .textarea {
                position: relative;
                margin: 0 1rem;
                color: var(--main-color);

                & * {
                    color: var(--color);
                }
            }

            .attachment {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0 1rem;
                background-color: var(--main-color);
                border: var(--border);
                border-radius: 0.5rem;
            }
        }

        .attachmentInput {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: var(--main-color);
            margin: 1rem;
            padding: 1rem;
            border: var(--border);
            border-radius: 0.5rem;
            color: var(--color);

            p {
                flex: 10;
                margin: 0;
                text-align: start;
            }

            .buttons {
                display: flex;
                flex-direction: row;
                flex: 2;

                .button {
                    margin-left: 1rem;
                    padding: 0.4rem 0.4rem 0;
                    border-radius: 1rem;

                    &:hover {
                        background-color: var(--hover-color);
                        cursor: pointer;
                    }
                }
            }
        }

        .postButton {
            margin: 0 1rem 1rem;
            background-color: var(--blue-button);
            border: none;
            padding: 0.6em 1.2em;
            border-radius: var(--border-radius);
            color: white;

            &:disabled {
                background-color: var(--button-color);
                color: var(--gray-text-color);

                &:hover {
                    cursor: default;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .postingButton {
            @extend .postButton;
            background-color: var(--button-color);
            color: var(--color);

            &:hover {
                cursor: not-allowed;
            }

        }
    }

    .boxImage {
        display: flex;
        flex-direction: column;
        width: 30rem;
        height: 40rem;
        border-radius: 0.5rem;
        background-color: var(--main-color);
        box-shadow: var(--box-shadow);

        header {
            display: flex;
            flex-direction: row;
            align-items: center;

            h2 {
                color: var(--color);
                margin-left: 5rem;
                flex: 100;
            }

            svg {
                display: flex;
                align-self: center;
                flex: 1;
                padding: 0.5rem;
                border-radius: 10rem;
                margin: 1rem;
                background-color: var(--button-color);

                &:hover {
                    background-color: var(--button-color-hover);
                    cursor: pointer;
                }
            }
        }

        hr {
            width: 90%;
            background-color: rgb(100, 100, 100, 0.1);
            margin-top: 0;
            border-color: transparent;
            padding: 0 1rem;
        }

        main {
            color: var(--color);
            height: 28rem;
            overflow-y: auto;
            overflow-x: hidden;

            .profile {
                margin: 0 1rem;
                display: flex;
                flex-direction: row;

                .name {
                    display: flex;
                    flex-direction: column;
                    margin-left: 1rem;
                    align-content: start;
                    text-align: start;

                    .select {
                        display: flex;
                        flex-direction: row;

                        select {
                            width: 5rem;
                            background-color: var(--button-color) !important;
                            color: var(--color);
                            border: none;
                            padding: 0.25rem;
                            border-radius: 0.5rem;
                            font-weight: bold;
                        }

                        h4 {
                            margin: 0;
                        }
                    }
                }
            }

            textarea {
                width: 90%;
                height: 5rem;
                border-color: transparent;
                background-color: var(--button-color);
                padding: 1rem;
                border-radius: 0.25rem;
                color: var(--color);
                font-family: Arial, serif;
                font-size: 1.5rem;
                outline: none;
                margin: 1rem 1rem;

                &:focus {
                    border-color: transparent;
                }

                &::placeholder {
                    color: gray;
                }
            }

            .attachment {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0 1rem;
                background-color: var(--main-color);
                border: var(--border);
                border-radius: 0.5rem;
            }
        }

        .attachmentInput {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: var(--main-color);
            margin: 1rem;
            padding: 1rem;
            border: var(--border);
            border-radius: 0.5rem;
            color: var(--color);

            p {
                flex: 10;
                margin: 0;
                text-align: start;
            }

            .buttons {
                display: flex;
                flex-direction: row;
                flex: 2;

                .button {
                    margin-left: 1rem;
                    padding: 0.4rem 0.4rem 0;
                    border-radius: 1rem;

                    &:hover {
                        background-color: var(--button-color-hover);
                        cursor: pointer;
                    }
                }
            }
        }

        .postButton {
            margin: 0 1rem 1rem;
            background-color: var(--blue-button);
            border: none;
            padding: 0.6em 1.2em;
            border-radius: 0.5rem;

            &:disabled {
                background-color: var(--button-color);
                color: var(--color);

                &:hover {
                    cursor: default;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}
