.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #f0f2f5;
    justify-content: center;
    align-items: center;

    >h5 {
        color: var(--blue-color);
        font-size: 4rem;
        margin: 0 0 3rem;
    }
    img {
        width: 15rem;
        margin-bottom: 1rem;
    }

    .loginBox {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 5px rgb(100, 100, 100, 0.2);
        background-color: white;
        align-items: center;

        p {
            color: black;
            font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
            margin: 1rem;
        }

        .inputBox {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0 1rem;

            input {
                border: 1px solid darkgray;
                background-color: rgb(100, 100, 100, 0.025);
                padding: 1rem;
                border-radius: 0.25rem;
                color: black;
                font-size: 1rem;
                width: 20rem;
                outline: none;
                margin: 0.5rem 0;

                &:focus {
                    border: 1px solid gray;
                }

                &::placeholder {
                    color: gray;
                }
            }

            button {
                color: white;
                border-radius: 0.25rem;
                background-color: #1877f2;
                margin: 0.5rem 0;
                padding: 0.6em 1.2em;
                border-color: transparent;

                &:hover {
                    cursor: pointer;
                }

                h3 {
                    margin: 0;
                }
            }

            p {
                color: #1877f2;
                margin: 0.5rem 0;
                font-size: 0.9rem;
            }

            hr {
                height: 0;
                border-color: transparent;
                background-color: rgb(100, 100, 100, 0.1);
                width: 100%;
            }

            .newAccount {
                align-self: center;
                width: fit-content;
                margin: 1rem 0;
                background-color: #42b72a;
                border-color: transparent;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
