.container {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100%;
    overflow: hidden;
    position: relative;

    .image {
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .leftButton {
            position: absolute;
            bottom: 47.5%;
            left: 1%;
            margin: 0;

            svg {
                background-color: rgb(255, 255, 255, 0.75);
                cursor: pointer;
                border-radius: 20rem;
            }
        }

        .rightButton {
            position: absolute;
            bottom: 47.5%;
            right: 1%;
            margin: 0;

            svg {
                background-color: rgb(255, 255, 255, 0.75);
                cursor: pointer;
                border-radius: 20rem;
            }
        }

        img {
            height: 30rem;
            width: 100%;
            z-index: 0;
            position: relative;
            object-fit: contain;
            user-select: none;
        }

        video {

            height: 30rem;
            width: 100%;
            object-fit: contain;
            user-select: none;
            z-index: -1;
        }
    }
}

.dotBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    .dot {
        margin-left: 0.75rem;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 10rem;
        background-color: var(--gray-color);

        &:hover {
            cursor: pointer;
        }
    }

    .dotActive {
        margin-left: 0.75rem;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 10rem;
        background-color: var(--blue-color);

        &:hover {
            cursor: pointer;
        }
    }
}
