
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  grid-gap: 10px;
  width: 37.5rem;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
  grid-gap: 10px;
  width: 37.5rem;
}

.image {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 37.5rem/2;

  img {
    width: 100%;
    object-fit: cover;
  }

  .close {
    position: absolute;
    top: 1%;
    right: 1%;
    padding: 0.25rem 0.4rem 0;
    background-color: white;
    border-radius: 20rem;

    &:hover {
      background-color: rgb(100, 100, 100, 0.5);
      cursor: pointer;
      transition: background-color 0.2s;
    }
  }
}
