@mixin box-shadow {
    box-shadow: 1px 1px 5px rgb(100, 100, 100, 0.2);
}

@mixin profile-picture($width) {
    aspect-ratio: 1;
    width: $width;
    opacity: 90%;
    object-fit: cover;
    border-radius: 20rem;
    z-index: 0;

    &:hover {
        cursor: pointer;
        opacity: 100;
    }
}

@mixin input {
    background-color: rgb(100, 100, 100, 0.1);
    outline: none;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    border: var(--border);
}

@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 0.5rem;
        color: black;
        background-color: var(--background-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 0.5rem;
    }
}
