.imageBox {
    position: relative;
    border-radius: 3rem;
    height: 3rem;
    width: 3rem;
    opacity: 100%;
    object-fit: cover;

    a > img {
        border-radius: 3rem;
        height: 3rem;
        width: 3rem;
        opacity: 90%;
        object-fit: cover;
        z-index: 0;

        &:hover {
            cursor: pointer;
            opacity: 100;
        }
    }

    .profile {
        display: none;
        opacity: 0;
        background-color: white;
        margin: 0.5rem 1rem;
        padding-top: 0.5rem;
        flex-direction: row;

        &:hover {
            opacity: 100;
        }
    }

    &:hover .profile {
        position: absolute;
        display: flex;
        opacity: 100;
        top: 0;
        left: -5rem;
        background-color: white;
        transition: opacity 0.5s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: 1000000;

        .content {
            padding: 1rem;
            position: absolute;
            color: black;
            z-index: 1000000;
            display: flex;
            width: fit-content;
            background-color: white;

            > a > img {
                border-radius: 20rem;
                height: 5rem;
                width: 5rem;
                opacity: 90%;
                object-fit: cover;

                &:hover {
                    cursor: pointer;
                    opacity: 100%;
                }
            }

            .bio {
                display: flex;
                flex-direction: column;
                width: fit-content;
                text-align: start;
                margin-left: 0.5rem;

                h4 {
                    text-decoration: none;
                    width: 13rem;
                    margin: 0;
                }

                p {
                    text-decoration: none;
                    margin: 0;
                    color: gray;
                    font-size: 0.9rem;
                }
            }
        }
    }
}
