

.background {
    display: flex;
    position: fixed;
    background-color: var(--modal-background-color);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    z-index: 10000;

    .box {
        color: var(--color);
        display: flex;
        flex-direction: column;
        width: 25rem;
        padding: 1rem;
        background-color: var(--main-color);
        box-shadow: var(--box-shadow-very-light);

        header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            h2 {
                flex: 1;
                padding: 0;
                margin: 0;
                margin-left: 1rem;
            }

            svg {
                cursor: pointer;
            }
        }

        hr {
            width: 95%;
            background-color: rgb(100, 100, 100, 0.1);
            border-color: transparent;
            padding: 0 1rem;
            margin: 0.5rem 0;
        }

        .content {
            display: flex;
            flex-direction: row;
            flex: 1;
            align-items: center;
            padding: 0.5rem;
            background-color: rgb(100, 100, 100, 0.1);
            border-radius: 2rem;
            width: calc(100% - 1rem);

            > input {
                font-size: 1rem;
                border: none;
                color: var(--color);
                outline: none;
                padding-left: 1rem;
                width: 100%;
                background-color: transparent;
            }
        }

        > div {
            display: flex;
            flex-direction: row;
            width: 100%;

            .content {
                display: flex;
                flex-direction: row;
                flex: 1;
                align-items: center;
                padding: 0.5rem;
                background-color: rgb(100, 100, 100, 0.1);
                border-radius: 2rem;

                > input {
                    font-size: 1rem;
                    border: none;
                    color: black;
                    outline: none;
                    padding-left: 1rem;
                    width: 100%;
                    background-color: transparent;
                }
            }

            h4 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 0 0.5rem;
                color: var(--blue-button);
                cursor: pointer;
            }
        }

        .friendList {
            display: flex;
            flex-direction: column;
            height: 20rem;

            .friend {
                margin-top: 0.5rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 0;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }

                > div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    > img {
                        width: 3rem;
                        height: 3rem;
                        margin-left: 0.5rem;
                        border-radius: 20rem;
                        object-fit: cover;
                    }

                    > span {
                        margin-left: 1rem;
                    }
                }

                &:hover {
                    background-color: rgb(100, 100, 100, 0.1);
                }

                >input {
                    margin-right: 1rem;
                    background-color: white;

                    &:checked {
                        background-color: white;
                    }
                }
            }
        }
    }
}
