$background-color: #e9ecf1;

.page {
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;

    &::-webkit-scrollbar {
        width: 0.5rem;
        color: black;
        background-color: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 0.5rem;
    }

    > .content {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
        margin-top: -1rem;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: white;

        .conversation {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: 0;
            background-color: white;

            .barSpace {
                display: flex;
                flex-direction: column;
                width: 20rem;
                height: 100%;
            }

            .bar {
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: transparent;
                width: 20rem;
                height: 100vh;
                overflow: hidden;
                margin-top: 0;
                color: black;
                border-right: 1px solid lightgray;

                header {
                    margin: 0.5rem 1rem;
                    padding-top: 0.5rem;
                    display: flex;
                    flex-direction: row;
                    align-self: start;

                    .bio {
                        display: flex;
                        flex-direction: column;
                        text-align: start;
                        margin-left: 0.5rem;

                        h2 {
                            margin: 0;
                        }
                    }
                }

                hr {
                    width: 80%;
                    background-color: rgb(100, 100, 100, 0.1);
                    border-color: transparent;
                    padding: 0 1rem;
                    margin: 0.2rem 0;
                }

                .content {
                    margin: 0;
                    width: 100%;

                    .search {
                        background-color: rgb(100, 100, 100, 0.15);
                        display: flex;
                        margin: 0.5rem 1rem 0;
                        padding: 0.5rem;
                        flex-direction: row;
                        border-radius: 2rem;
                        align-items: center;

                        svg {
                            margin: 0 0.5rem;
                            display: flex;
                        }

                        input {
                            background-color: transparent;
                            border-color: transparent;
                            outline: transparent;
                            color: black;
                            font-size: 1rem;
                        }
                    }

                    .messageContainer {
                        overflow-y: auto;
                        margin-top: 1rem;
                        height: calc(100vh - 12.3rem);

                        &::-webkit-scrollbar {
                            background-color: rgb(200, 200, 200, 0.4);
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: lightgray;
                        }

                        .message {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 5rem;
                            align-items: center;

                            a {
                                display: flex;
                                flex-direction: row;
                                width: 100%;
                                margin: 0 0.5rem;
                                padding: 0;
                                text-decoration: none;
                                color: black;

                                > img {
                                    display: flex;
                                    width: 3.5rem;
                                    aspect-ratio: 1;
                                    object-fit: cover;
                                    border-radius: 50%;
                                }

                                .content {
                                    display: flex;
                                    flex-direction: column;
                                    margin-left: 0.5rem;
                                    height: inherit;
                                    justify-content: center;

                                    h3 {
                                        text-align: start;
                                        height: auto;
                                        margin: 0;
                                    }

                                    p {
                                        text-align: start;
                                        height: auto;
                                        margin: 0;
                                    }
                                }
                            }

                            &:hover {
                                background-color: rgb(100, 100, 100, 0.1);
                            }
                        }

                        .messageActive {
                            background-color: rgb(100, 100, 100, 0.1);
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 5rem;
                            align-items: center;

                            a {
                                display: flex;
                                flex-direction: row;
                                width: 100%;
                                margin: 0 0.5rem;
                                padding: 0;
                                text-decoration: none;
                                color: black;

                                > img {
                                    display: flex;
                                    width: 3.5rem;
                                    aspect-ratio: 1;
                                    object-fit: cover;
                                    border-radius: 50%;
                                }

                                .content {
                                    display: flex;
                                    flex-direction: column;
                                    margin-left: 0.5rem;
                                    height: inherit;
                                    justify-content: center;

                                    h3 {
                                        text-align: start;
                                        height: auto;
                                        margin: 0;
                                    }

                                    p {
                                        text-align: start;
                                        height: auto;
                                        margin: 0;
                                        width: 10rem;
                                        text-overflow: ellipsis;
                                        overflow-x: hidden;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .chat {
                display: flex;
                flex-direction: column-reverse;
                overflow-y: auto;
                width: calc(100vw - 20rem);
                flex: 1;

                &::-webkit-scrollbar {
                    width: 0.5rem;
                    color: black;
                    background-color: $background-color;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: gray;
                    border-radius: 0.5rem;
                }

                .chatSender {
                    display: flex;
                    width: 100%;
                    flex-direction: row;
                    text-align: end;

                    > div {
                        text-align: start;
                        margin: 0.25rem 1rem;
                        padding: 0.5rem 1rem;
                        border-radius: 1rem 1rem 1rem 0;
                        width: fit-content;
                        background-color: skyblue;
                        max-width: 20rem;
                        word-wrap: anywhere;

                        img {
                            width: auto;
                            max-width: 20rem;
                            border-radius: 1rem;
                        }

                        .post {
                            header {
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                img {
                                    width: 2rem;
                                    height: 2rem;
                                    border-radius: 20rem;
                                    margin-right: 1rem;
                                }
                            }

                            .content {
                                display: flex;
                                flex-direction: column;
                                margin-top: 1rem;
                            }
                        }
                    }
                }

                .chatReceiver {
                    display: flex;
                    width: 100%;
                    flex-direction: row-reverse;

                    > div {
                        text-align: start;
                        margin: 0.25rem 1rem;
                        padding: 0.5rem 1rem;
                        border-radius: 1rem 1rem 0 1rem;
                        width: fit-content;
                        height: auto;
                        background-color: lightgray;
                        max-width: 20rem;
                        word-wrap: break-word;

                        img {
                            width: auto;
                            max-width: 20rem;
                            border-radius: 1rem;
                        }

                        .post {
                            header {
                                display: flex;
                                flex-direction: row;
                                align-items: center;

                                img {
                                    width: 2rem;
                                    height: 2rem;
                                    border-radius: 20rem;
                                    margin-right: 1rem;
                                }
                            }

                            .content {
                                display: flex;
                                flex-direction: column;
                                margin-top: 1rem;
                            }
                        }
                    }
                }
            }

            .empty {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                flex: 1;
                margin: 0;
                background-color: $background-color;
            }
        }
    }
}
