.barSpace {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: calc(100vw - 20rem);
    overflow: hidden;
}

.bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    width: 20rem;
    height: calc(100% - 3rem);
    overflow: hidden;
    margin-top: -0.5rem;
    box-shadow: var(--box-shadow-very-light);
    color: var(--color);

    header {
        margin: 0.5rem 1rem;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: row;
        align-self: start;

        .bio {
            display: flex;
            flex-direction: column;
            text-align: start;
            margin-left: 0.5rem;

            h2 {
                margin: 0;
            }
        }
    }

    .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-left: 1rem;

        img {
            width: 3rem;
            height: 3rem;
            object-fit: cover;
            border-radius: 50%;
            margin: 0.5rem;
        }

        .text {
            display: flex;
            flex-direction: column;
            text-align: start;
            margin-left: 0.5rem;

            h3 {
                margin: 0;
            }

            p {
                margin: 0;
                font-size: 0.9rem;
            }
        }
    }

    hr {
        width: 80%;
        background-color: rgb(100, 100, 100, 0.1);
        border-color: transparent;
        padding: 0 1rem;
        margin: 0.2rem 0;
    }

    .content {
        margin: 0;
        align-self: start;

        input {
            color: black;
            width: calc(100% - 5rem);
            margin: 1rem;
            background-color: transparent;
            border-radius: 0.5rem;
            padding: 1rem;
            border: var(--border);
            outline: none;
            resize: none;
            font-family: inherit;
            font-size: 1rem;
        }

        select {
            color: var(--color);
            width: calc(100% - 3rem);
            margin: 0 1rem 1rem;
            background-color: transparent;
            border-radius: 0.5rem;
            padding: 1rem;
            border: var(--border);
            outline: none;
            resize: none;
            font-family: inherit;
            font-size: 1rem;

            option {
                color: var(--color);
            }
        }

        textarea {
            color: var(--color);
            width: calc(100% - 5rem);
            margin: 0 1rem 1rem;
            background-color: transparent;
            border-radius: 0.5rem;
            padding: 1rem;
            border: var(--border);
            outline: none;
            resize: none;
            height: 7rem;
            font-family: inherit;
            font-size: 1rem;

            &::-webkit-scrollbar {
                color: pink;
            }

            //&::-webkit-scrollbar-thumb{
            //    color: black;
            //}
        }

        .gray {
          color: gray;
        }
    }

    footer {
        flex: 1;
        display: flex;
        width: 100%;
        flex-direction: column-reverse;

        .buttons {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 1rem;

            button {
                flex: 1;
                height: 2.5rem;
                border-radius: 0.5rem;
                margin: 0.5rem;

                &:first-child {
                    background-color: lightgray;
                    border: 1px solid transparent;
                    color: black;
                }

                &:nth-child(2) {
                    background-color: #1877f2;
                    border: 1px solid transparent;
                    color: white;
                }

                &:disabled {
                    background-color: lightgray;
                    color: black;
                    cursor: not-allowed;
                }
            }

            a {
                flex: 1;
                width: 100% ;

                button {
                    flex: 1;
                    width: 100%;
                    height: 2.5rem;
                    border-radius: 0.5rem;
                    margin: 0.5rem;

                    &:first-child {
                        background-color: lightgray;
                        border: 1px solid transparent;
                        color: black;
                    }

                    &:nth-child(2) {
                        background-color: #1877f2;
                        border: 1px solid transparent;
                        color: white;
                    }

                    &:disabled {
                        background-color: lightgray;
                        color: black;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}
