.box {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  max-height: 30rem;
  margin: 2rem;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  color: var(--color);
  box-shadow: var(--box-shadow-very-light);
  text-decoration: none;

  img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  h3 {
    margin: 0.5rem 1rem 0;
    text-align: start;
  }

  p {
    margin: 0.5rem 1rem 0.5rem;
    text-align: start;
  }

  > .about {
    overflow: hidden;
    //white-space: nowrap;
    text-overflow: ellipsis;
  }

  .button {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;

    button {
      width: calc(100% - 2rem);
      margin: 1rem;
      border-radius: var(--border-radius);
      border: none;
      outline: none;
      background-color: var(--blue-button);
      color: white;
      font-size: 1rem;
      font-weight: bolder;
      padding: 0.5rem 0;

      &:hover {
        background-color: var(--blue-button-hover);
      }
    }

    .joined {
      background-color: var(--button-color);
      color: black;
      &:hover {
        background-color: var(--button-color);
        cursor: not-allowed;
      }
    }
  }
}
