@use "../mixins.scss" as *;

.content {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  width: 60vw;
  overflow-y: hidden;
  margin: 1rem;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow-very-light);
  border-radius: var(--border-radius);
  overflow-x: auto;

  @include scrollbar;

  > header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    width: 67.5rem;

    h3 {
      margin: 0;
    }

    .right {
      display: flex;
      flex-direction: row;
      align-items: center;

      > .search {
        @include input;
        display: flex;
        height: 2rem;
        padding: 0;
        border-radius: 20rem;
        outline: none;
        border: none;
        align-items: center;

        > svg {
          margin-left: 0.5rem;
          color: var(--color);
        }

        > input {
          background-color: transparent;
          outline: none;
          border: none;
          color: var(--color);
          padding-left: 0.5rem;
        }
      }

      h5 {
        margin: 0 0 0 1rem;
        color: var(--blue-color);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2rem);
  }

  > table {
    display: flex;
    flex-direction: column;
    align-self: start;
    width: 70rem;

    > thead {
      display: flex;
      flex-direction: row;

      > tr {
        display: flex;
        flex-direction: row;
        width: 100%;

        > th {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0.5rem;
          padding: 0.5rem;
          text-align: left;
          border-bottom: var(--border);
          background-color: var(--gray-color);
          border-radius: var(--border-radius);
          outline: none;
        }

        .name {
          flex: 3;
        }

        .type {
          flex: 1;
        }

        .date {
          display: flex;
          flex-direction: row;
          flex: 1;

          svg {
            margin-left: 0.5rem;
            cursor: pointer;
          }
        }

        .misc {
          flex: 0.6;
          border: transparent;
          background-color: transparent;
        }
      }
    }

    > tbody {
      display: flex;
      flex-direction: column;
      table-layout: fixed;

      > tr {
        font-weight: normal;
        display: flex;
        flex-direction: row;
        width: 100%;

        > th {
          font-weight: normal;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          margin: 0.5rem;
          padding: 0.5rem;
          text-align: left;
          border-radius: var(--border-radius);
          outline: none;
          width: 100%;
        }

        .name {
          flex: 3;
          svg {
            margin-right: 0.5rem;
          }
        }

        .type {
          flex: 1;
        }

        .date {
          display: flex;
          flex-direction: column;
          text-align: start;
          flex: 1.1;
          font-size: 0.85rem;

          p {
            width: 100%;
            margin: 0;
          }

          span {
            width: 100%;
            font-size: 0.8rem;
            color: dimgray;
            text-align: start;
          }
        }

        .misc {
          flex: 0.2;
          background-color: transparent;

          .button {
            padding: 0.5rem;
            background-color: var(--button-color);
            border-radius: var(--border-radius);
            margin-right: 0.25rem;

            svg {
              color: var(--color);
              display: flex;
            }

            &:hover {
              cursor: pointer;
              background-color: var(--button-color-hover);
            }

            &:nth-child(2) {
              background-color: rgb(255, 100, 100, 0.2);

              &:hover {
                background-color: rgb(255, 100, 100, 0.3);
              }
            }
          }

          > a {
            color: black;
          }
        }
      }

      .noFile {
        column-span: 100;
        display: flex;
        align-items: center;
        justify-content: center;

        > th {
          column-span: 100;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
