@use "../mixins.scss" as *;


.comments {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 35rem;
    height: 100%;
    background-color: var(--background-color);
    color: var(--color);
    z-index: 10000;
    //border-top: var(--border);

    > header {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        //border-top: 1px solid gray;
        //
        .profile {
            display: flex;
            flex-direction: row;
            align-items: center;

            > img {
                margin: 0.5rem;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 20rem;
            }
        }

        > p {
            margin: 0 0.5rem;
            font-size: 0.9rem;
            text-align: start;
        }

        hr {
            width: calc(100% - 2rem);
            background-color: var(--main-color);
            border-color: transparent;
            padding: 0 1rem;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        justify-content: start;

        @include scrollbar
    }

    .commentInput {
        display: flex;
        flex-direction: row;
        margin: 0.5rem 0rem 0;

        > img {
            display: flex;
            height: 2.5rem;
            width: fit-content;
            object-fit: cover;
            aspect-ratio: 1;
            margin-left: 0.5rem;
            border-radius: 20rem;
        }

        .commentContainer {
            display: flex;
            flex-direction: row;
            flex: 1;
            width: 100%;
            height: fit-content;
            margin-left: 0.5rem;
            margin-right: 1rem;
            border-radius: 1rem;
            background-color: var(--main-color);
            text-align: start;
            font-size: 1rem;
            margin-bottom: 0.2rem;
            color: var(--color);
            padding: 0.6em 1.2em;
            border-color: transparent;

            .textarea {
                width: 100%;
                background-color: transparent;
                border: transparent;
                overflow-y: auto;
                word-wrap: anywhere;
                resize: none;
                font-family: Arial, serif;
                font-size: 0.9rem;
                color: var(--color);

                &:focus {
                    outline: none;
                }
            }

            //.textarea * {
            //    color: var(--color);
            //}

            .commentFooter {
                display: flex;
                flex-direction: column;
                justify-content: end;

                svg:hover {
                    cursor: pointer;
                }
            }

            .commentFooterDisabled {
                @extend .commentFooter;

                svg:hover {
                    cursor: default;
                }
            }
        }
    }
}
