

.barSpace {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 100%;
  overflow: hidden;
}


.bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 20rem;
  height: 100vh;
  overflow: hidden;
  margin-top: -0.5rem;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.1);
  color: black;

  header {
    margin: 0.5rem 1rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-self: start;

    .bio {
      display: flex;
      flex-direction: column;
      text-align: start;
      margin-left: 0.5rem;

      h2{
        margin: 0;
      }
    }
  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 1rem;

    img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 0.5rem;
    }

    h3 {
      margin-left: 0.5rem;
    }
  }

  hr {
    width: 80%;
    background-color: rgb(100, 100, 100, 0.1);
    border-color: transparent;
    padding: 0 1rem;
    margin: 0.2rem 0;
  }

  .content {
    margin: 0;
    width: 100%;
    height: 100%;

    textarea {
      color: black;
      padding: 0.75rem;
      font-size: 1rem;
      font-family: Arial, serif;
      margin: 1rem;
      width: 80%;
      height: 10rem;
      background-color: transparent;
      border-radius: 0.5rem;
      resize: none;
    }

    select {
      color: black;
      padding: 0.75rem;
      font-size: 1rem;
      font-family: Arial, serif;
      margin: 1rem;
      width: 89%;
      background-color: transparent;
      border-radius: 0.5rem;
      resize: none;

      option:nth-child(2) {
        font-weight: bolder;
      }
    }

    .bold {
      font-weight: bolder;
    }

    .background {
      margin: 1rem;
      width: 88%;
      border-radius: 0.5rem;
      border: 1px solid rgb(100, 100, 100, 1);

      header {
        margin: 0 0 0 0.5rem;
      }

      .content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-row-gap: 0.5rem;
        margin: 0.5rem;
        width: 100%;
      }
    }

    footer {
      height: 45%;
      flex-grow: 10;
      display: flex;
      flex-direction: column-reverse;

      .buttons {
        display: flex;
        flex-direction: row;
        width: 100%;

        button {
          flex: 1;
          height: 2.5rem;
          border-radius: 0.5rem;
          margin: 0.5rem;

          &:first-child {
            background-color: lightgray;
            border: 1px solid transparent;
            color: black;
          }

          &:nth-child(2) {
            background-color: #1877f2;
            border: 1px solid transparent;
            color: white;
          }
        }
      }
    }
  }

  .contentImage {
    margin: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column-reverse;

    .buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 90%;

      button {
        flex: 1;
        height: 2.5rem;
        border-radius: 0.5rem;
        margin: 0.5rem;

        &:first-child {
          background-color: lightgray;
          border: 1px solid transparent;
          color: black;
        }

        &:nth-child(2) {
          background-color: #1877f2;
          border: 1px solid transparent;
          color: white;
        }
      }
    }
  }
}
