.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0.5rem 0;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0.5rem;
        background-color: var(--gray-color);
        border-radius: 20rem;

        img {
            width: 4rem;
            height: 4rem;
            border-radius: 20rem;
        }
    }

    h4 {
        display: flex;
        flex-direction: row;
        height: inherit;
        width: 70%;
        margin: auto 0 auto 1rem;
        align-items: center;
        text-align: start;
        text-decoration: none;
        color: black;
        font-weight: normal;
    }

    &:hover {
        background-color: var(--button-color-hover);
        cursor: pointer;
    }
}

.containerActive {
    @extend .container;
    background-color: rgb(100, 100, 100, 0.2);

    .logo {
        background-color: var(--blue-color);

        svg {
            color: white;
        }
    }

    h4 {
        color: var(--blue-color);
        font-weight: bolder;
    }
}
