.container {
    display: flex;
    flex: 0;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .left {

        a {
            display: flex;

            > img {
                display: flex;
                height: 2rem;
                width: fit-content;
                object-fit: cover;
                aspect-ratio: 1;
                margin: 0.5rem;
                border-radius: 20rem;
            }
        }
    }

    .content {
        position: relative;
        height: fit-content;
        width: inherit;
        max-width: 90%;

        .chat {
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: rgb(100, 100, 100, 0.1);
            margin: 0.5rem 0.5rem 0 0;
            width: fit-content;
            padding-right: 0.5rem;
            height: fit-content;
            border-radius: 1rem;
            align-items: start;
            max-width: 85%;
            justify-content: start;

            > h4 {
                margin: 0.5rem 0.5rem 0 0.75rem;
                font-size: 0.9rem;
            }

            > div {
                text-align: start;
                word-wrap: anywhere;
                max-width: 30rem;
                > p {
                    margin: 0 0.5rem 0.2rem 0.75rem;
                    text-align: start;
                    word-wrap: anywhere;
                    max-width: 30rem;
                }
            }

            .like {
                position: absolute;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                right: 0%;
                bottom: -1.5rem;
                box-shadow: 1px 1px 5px rgb(100, 100, 100, 0.2);
                border-radius: 10rem;
                font-size: 0.75rem;

                svg {
                    padding: 0.2rem 0.2rem 0.2rem;
                    margin-right: 0.5rem;
                    color: white;
                    background-color: var(--blue-color);
                    border-radius: 20rem;
                }

            }
        }

        .buttons {
            position: relative;
            display: flex;
            flex-direction: row;
            margin-left: 0.5rem;
            text-align: start;
            font-size: 0.75rem;
            font-weight: bolder;
            color: gray;

            p {
                margin: 0.2rem 0 0;
                padding-right: 1rem;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .liked {
                margin: 0.2rem 0 0;
                padding-right: 1rem;
                color: #1877f2;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        .commentInput {
            display: flex;
            flex-direction: row;
            margin: 0.5rem 0 0;

            > img {
                display: flex;
                height: 2rem;
                width: fit-content;
                object-fit: cover;
                aspect-ratio: 1;
                margin-left: 0.5rem;
                border-radius: 20rem;
            }

            .commentContainer {
                display: flex;
                width: 100%;
                height: fit-content;
                margin-left: 0.5rem;
                margin-right: 1rem;
                border-radius: 1rem;
                background-color: rgb(100, 100, 100, 0.1);
                text-align: start;
                font-size: 1rem;
                margin-bottom: 0.2rem;
                color: gray;
                padding: 0.6em 1.2em;
                border-color: transparent;

                .textarea {
                    width: inherit;
                    color: black;
                    background-color: transparent;
                    border: transparent;
                    overflow-y: hidden;
                    resize: none;
                    font-family: Arial, serif;
                    font-size: 0.9rem;

                    &:focus {
                        outline: none;
                    }
                }

                .commentFooter {
                    display: flex;
                    flex-direction: column;
                    justify-content: end;

                    svg:hover {
                        cursor: pointer;
                    }
                }

                .commentFooterDisabled {
                    @extend .commentFooter;

                    svg:hover {
                        cursor: default;
                    }
                }
            }
        }

        .reply {
            display: flex;
            text-align: start;
            margin-top: 0;
            margin-left: 1rem;
            font-size: 0.8rem;
            font-weight: bolder;
            color: gray;

            &:hover {
                font-weight: bold;
                text-decoration: underline;
                cursor: pointer;
            }

            svg {
                margin-right: 0.5rem;
            }
        }

        .commentReply {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 0.5rem 0 0;

            .left {
                display: flex;

            }

            .content {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-right: 0.5rem;
                .chat {
                    position: relative;
                    margin-top: 0.1rem;
                    display: flex;
                    width: fit-content;

                    h4 {
                        text-align: start;
                        width: 100%;
                        font-size: 0.8rem;
                        //padding-right: 0.5rem;

                    }

                    p {
                        width: 100%;
                        margin-right: 0.5rem;
                        font-size: 0.9rem;
                    }
                }
            }

        }
    }
}
