$background-color: #000000;

.page {
  color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;

  .pageContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    overflow-y: hidden;

    .content {
      position: relative;
      display: flex;
      flex-direction: row;
      height: calc(100vh - 3rem);
      width: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
      justify-content: center;

      .createReel {
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        bottom: 2%;
        right: 1%;
        position: absolute;
        background-color: white;
        padding: 0.5rem;
        border-radius: 20rem;
        z-index: 10000;

        svg {
          display: flex;
        }

        p {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 0.5rem 0.1rem;
          font-size: 0.9rem;
          font-weight: bolder;
        }

        &:hover {
          background-color: rgb(255, 255, 255, 0.9);
          cursor: pointer;
        }
      }

      .box {
        position: relative;
        display: flex;
        background-color: $background-color;
        //border: 1px solid rgb(100, 100, 100, 0.9);
        //box-shadow: 1px 1px 5px rgb(100, 100, 100, 0.2);
        border-radius: 0.5rem;
        margin: 0.5rem;
        aspect-ratio: 40/72;

        .profile {
          position: absolute;
          display: flex;
          flex-direction: row;
          margin: 0.5rem;
          width: inherit;
          z-index: 20;

          img {
            width: 3rem;
            height: 3rem;
            border-radius: 20rem;
          }

          h4 {
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin: 0 0 0 0.5rem;
            color: white;
          }
        }

        video {
          z-index: 1;
          width: 99.5%;
        }

        .left {
          display: flex;
          position: absolute;
          background-color: rgb(200, 200, 200, 0.8);
          border-radius: 20rem;
          transform: translate(0, -50%);
          top: 50%;
          left: -15%;
          padding: 0.5rem;

          &:hover {
            background-color: rgb(200, 200, 200, 0.9);
            cursor: pointer;
          }
        }

        .right {
          display: flex;
          position: absolute;
          background-color: rgb(200, 200, 200, 0.8);
          border-radius: 20rem;
          transform: translate(0, -50%);
          top: 50%;
          right: -15%;
          padding: 0.5rem;

          &:hover {
            background-color: rgb(200, 200, 200, 0.9);
            cursor: pointer;
          }
        }

        .interaction {
          position: absolute;
          bottom: 0;
          right: -15%;
          display: flex;
          flex-direction: column;

          > div {
            display: flex;
            flex-direction: column;
            align-items: center;

            > svg {
              padding: 0.5rem;
              background-color: rgb(100, 100, 100, 0.75);
              border-radius: 20rem;
              color: white;

              &:hover {
                cursor: pointer;
                background-color: rgb(100, 100, 100, 0.5);
              }
            }

            .active {
              background-color: rgb(24, 119, 242, 0.9);

              &:hover {
                background-color: rgb(24, 119, 242, 0.5);
              }
            }

            > span {
              text-align: center;
              color: white;
              font-size: 0.75rem;
              margin-bottom: 1rem;
              z-index: 20;
            }
          }
        }

        > span {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 0.5rem;
          margin-bottom: 0.5rem;
          margin-left: 0.5rem;
          color: white;
          font-size: 0.9rem;
          width: inherit;
          word-wrap: anywhere;
          z-index: 20;
        }
      }
    }
  }
}
