$background-color: #e9ecf1;

.page {
  color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;

  &::-webkit-scrollbar {
    width: 0.5rem;
    color: black;
    background-color: $background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 0.5rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    height: 92.5vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: $background-color;

    .top {
      display: flex;
      padding: 1rem;
      font-weight: normal;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;

      .containerHor {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .story {
          margin-left: 5rem;
          max-width: 50rem;
          width: 60vw;
          height: 50rem;
          background-color: white;
          box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.1);
          border-radius: 1rem;

          .storyView {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;
            max-width: 48rem;
            width: 56.5vw;
            height: 48rem;
            background-color: black;
            box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.1);
            border-radius: 1rem;

            .background {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              color: black;
              font-size: 1.5rem;
              word-wrap: anywhere;
              width: 25rem;
              height: 45rem;
              background-color: pink;
              border-radius: 0.5rem;
              border: 1px solid white;

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
