.myBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-very-light);
  background-color: var(--main-color);
  margin: 1rem auto;

  > header {
    display: flex;
    flex-direction: row;
    color: var(--color);
    justify-content: space-evenly;
    height: fit-content;
    margin-bottom: 0;

    h4 {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      width: 90%;
      margin: 0.5rem 1rem 0;
      border-bottom: 3px solid transparent;
      border-radius: var(--border-radius);
      transition-duration: var(--transition-duration-short);

      svg {
        margin-right: 0.5rem;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--main-color-hover);
      }
    }

    .h4Active {
      @extend h4;
      border-bottom: 3px solid var(--blue-color);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      color: var(--blue-color);

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  hr {
    width: 90%;
    background-color: rgb(100, 100, 100, 0.1);
    margin-top: 0;
    border-color: transparent;
    padding: 0 1rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    color: var(--color);

    .left {
      margin: 1rem;

      .story {
        position: relative;
        border-radius: 1rem;
        box-shadow: var(--box-shadow-very-light);
        background-color: black;

        img {
          width: 10rem;
          height: 17.5rem;
          object-fit: cover;
          border-radius: 1rem;
        }

        .vid {
          width: 10rem;
          height: 17.5rem;
          object-fit: cover;
          border-radius: 1rem;
          opacity: 0;
        }

        svg:nth-child(2) {
          position: absolute;
          color: var(--color);
          left: 50%;
          top: 45%;
          transform: translate(-50%, -50%);
        }

        .create {
          bottom: 0;
          width: 100%;
          height: 3rem;
          background-color: var(--main-color);
          border-bottom-right-radius: 1rem;
          border-bottom-left-radius: 1rem;
          position: absolute;

          svg {
            color: var(--color);
            position: absolute;
            left: 50%;
            bottom: 3rem;
            transform: translate(-50%, 50%);
            background-color: var(--blue-color);
            padding: 0.5rem;
            border-radius: 10rem;
            border: 3px solid var(--main-color);
            transition-duration: var(--transition-duration-short);

            &:hover {
              cursor: pointer;
              opacity: 100%;
              background-color: var(--blue-color-hover)
            }

            h4 {
              color: var(--color);
            }
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        display: flex;
        align-items: center;

        svg {
          margin-left: 1rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
