@use "../mixins.scss" as *;


.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--background-color);

   @include scrollbar;

    .content {
        display: flex;
        flex-direction: column;
        width: 42.5rem;
        margin: 0 auto;

        .inputBox {
            display: flex;
            flex-direction: column;
            border-radius: 0.5rem;
            box-shadow: var(--box-shadow-very-light);
            background-color: var(--main-color);
            margin: 1rem auto;
            width: 100%;

            .inputHeader {
                margin: 0.5rem 1rem;
                display: flex;
                flex-direction: row;
                height: 3rem;

                button {
                    margin-left: 1rem;
                    width: 100%;
                    border-radius: 2rem;
                    background-color: rgb(100, 100, 100, 0.1);
                    text-align: start;
                    font-size: 1rem;
                    color: gray;
                    padding: 0.6em 1.2em;
                    border-color: transparent;
                    outline: none;

                    &:hover {
                        background-color: rgb(100, 100, 100, 0.15);
                        //border: 1px solid darkgray;
                    }
                }
            }
        }
    }
}
