
.container {
  margin: 1rem;
  margin-bottom: 0;
  width: 100%;

  .top {
    display: flex;

    .image {
      width: 2.5rem;
      border-radius: 20rem;

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 20rem;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      width: 100%;

      .contentBox {
        position: relative;
        margin-left: 0.5rem;
        border-radius: 1rem;
        background-color: rgb(100, 100, 100, 0.1);
        text-align: start;
        width: fit-content;
        max-width: 37.5rem;

        h4 {
          margin: 0.5rem 0.9rem 0 0.9rem;
          padding: 0 0.5rem 0 0;
          font-size: 0.9rem;
        }

        p {
          margin: -0.25rem 0.9rem 0 0.9rem;
          padding: 0 0.5rem 0.5rem 0;
          word-wrap: break-word;
        }

        .like {
          position: absolute;
          display: flex;
          background-color: white;
          right: -10%;
          bottom: 0;
          padding: 0.3rem 0.3rem 0.3rem;
          box-shadow: 1px 1px 5px rgb(100, 100, 100, 0.2);
          border-radius: 10rem;
          font-size: 0.75rem;

          svg {
            margin-right: 0.5rem;
          }
        }
      }

      .buttons {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-left: 1.5rem;
        text-align: start;
        font-size: 0.75rem;
        font-weight: bolder;
        color: gray;

        p {
          margin: 0.2rem 0 0;
          padding-right: 1rem;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .liked {
          margin: 0.2rem 0 0;
          padding-right: 1rem;
          color: #1877f2;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      .reply {
        display: flex;
        text-align: start;
        margin-top: 0;
        margin-left: 1.5rem;
        font-size: 0.8rem;
        font-weight: bolder;
        color: gray;

        &:hover {
          font-weight: bold;
          text-decoration: underline;
          cursor: pointer;
        }

        svg {
          margin-right: 0.5rem;
        }
      }

      .commentInput {
        display: flex;
        flex-direction: row;
        margin: 0.5rem 1rem;

        .image {
          height: 2.5rem;
          border-radius: 20rem;
          object-fit: cover;

          img {
            height: 2rem;
            width: 2rem;
            border-radius: 20rem;
          }
        }

        .commentContainer {
          width: 100%;
          height: fit-content;
          margin-left: 0.5rem;
          border-radius: 1rem;
          background-color: rgb(100, 100, 100, 0.1);
          text-align: start;
          font-size: 1rem;
          margin-bottom: 1rem;
          color: gray;
          padding: 0.6em 1.2em;
          border-color: transparent;
          margin-right: 1rem;

          textarea {
            width: 100%;
            color: black;
            background-color: transparent;
            border: transparent;
            overflow-y: hidden;
            resize: none;
            font-family: Arial, serif;
            font-size: 0.9rem;

            &:focus {
              outline: none;
            }
          }

          .commentFooter {
            display: flex;
            width: 100%;
            justify-content: end;

            svg:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
