.myBox {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgb(100, 100, 100, 0.2);
    background-color: white;
    margin: 1rem auto;
    color: black;

    header {
        margin: 0.5rem 1rem;
        padding-top: 0.5rem;
        display: flex;
        flex-direction: row;

        .bio {
            display: flex;
            flex-direction: column;
            text-align: start;
            margin-left: 0.5rem;

            h4 {
                margin: 0;

                > span {
                    font-weight: normal;
                }
            }

            p {
                margin: 0;
                color: gray;
                font-size: 0.9rem;
            }
        }
    }

    .content {
        margin: 0.5rem 1rem;
        text-align: start;

        img {
            width: 100%;
        }
        .stats {
            display: flex;
            flex-direction: row;
            font-size: 0.85rem;
            color: gray;

            .left {
                flex: 1;
            }

            .right {
                align-content: end;
                justify-content: end;

                display: flex;
                flex-direction: row;
                flex: 1;

                p {
                    margin: 0 0 0 1rem;
                }
            }
        }

        hr {
            width: 95%;
            background-color: rgb(100, 100, 100, 0.1);
            border-color: transparent;
            padding: 0 1rem;
            margin: 0.5rem 0;
        }

        .buttons {
            display: flex;
            flex-direction: row;

            button {
                display: flex;
                color: gray;
                background-color: transparent;
                border-color: transparent;
                padding-left: 1rem;
                align-items: center;
                justify-content: center;
                height: 1.5rem;
                flex: 1;

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 1.5rem;
                    padding: 0 4rem;
                    border-radius: 8px;

                    p {
                        margin-left: 0.25rem;
                    }

                    .liked {
                        margin-left: 0.25rem;
                        color: #1877f2;
                    }

                    &:hover {
                        background-color: rgb(100, 100, 100, 0.1);
                        transition: background-color 0.2s;
                    }
                }
            }
        }
    }

    .commentInput {
        display: flex;
        flex-direction: row;
        margin: 0.5rem 1rem;

        .commentContainer {
            width: 100%;
            height: fit-content;
            margin-left: 0.5rem;
            border-radius: 1rem;
            background-color: rgb(100, 100, 100, 0.1);
            text-align: start;
            font-size: 1rem;
            margin-bottom: 1rem;
            color: gray;
            padding: 0.6em 1.2em;
            border-color: transparent;

            textarea {
                width: 100%;
                color: black;
                background-color: transparent;
                border: transparent;
                overflow-y: hidden;
                resize: none;
                font-family: Arial, serif;
                font-size: 0.9rem;

                &:focus {
                    outline: none;
                }
            }

            .commentFooter {
                display: flex;
                width: 100%;
                justify-content: end;

                svg:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .comment {
        padding-bottom: 1rem;
    }
}
