.content {
    color: white;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

    .storyBox {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 32.5rem;
        background-color: rgb(100, 100, 100, 0.8);
        border-radius: 1rem;

        header {
            display: flex;
            flex-direction: row;
            width: 95%;
            top: 0.5rem;
            position: absolute;
            margin: 0 1rem;

            .progress {
                margin: 0 0.2rem;
                width: 1001%;
                height: 0.3rem;
                background-color: darkgray;

                .bar {
                    width: 0;
                    height: 0.3rem;
                    background-color: lightgray;
                }
            }
        }

        .left {
            display: flex;
            position: absolute;
            background-color: lightgray;
            left: -15%;
            padding: 0.75rem;
            border-radius: 20rem;

            &:hover {
                background-color: gray;
                cursor: pointer;
            }
        }

        .right {
            display: flex;
            position: absolute;
            background-color: lightgray;
            right: -15%;
            padding: 0.75rem;
            border-radius: 20rem;

            &:hover {
                background-color: gray;
                cursor: pointer;
            }
        }

        img {
            width: 32.5rem;
            border-radius: 1rem;
        }

        .background {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: 1.5rem;
            word-wrap: anywhere;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            border: 1px solid white;
        }
    }
}
