.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    justify-content: center;
    align-items: center;

    img {
        width: 15rem;
        margin-bottom: 1rem;
    }

    .registerBox {
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        box-shadow: var(--box-shadow);
        background-color: var(--main-color);
        align-items: center;
        color: var(--color);

        .inputBox {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0 1rem;

            .inputName {
                display: flex;
                flex-display: row;

                input {
                    border: var(--border);
                    background-color: var(--button-color);
                    padding: 1rem;
                    border-radius: 0.25rem;
                    color: black;
                    font-size: 1rem;
                    width: 10rem;
                    outline: none;
                    margin: 0.5rem 0;

                    &:nth-child(1) {
                        margin-right: 0.5rem;
                    }

                    &:nth-child(2) {
                        margin-left: 0.5rem;
                    }

                    &:focus {
                        border: 1px solid gray;
                    }

                    &::placeholder {
                        color: gray;
                    }
                }
            }

            input {
                border: var(--border);
                background-color: var(--button-color);
                padding: 1rem;
                border-radius: 0.25rem;
                color: var(--color);
                font-size: 1rem;
                width: inherit;
                outline: none;
                margin: 0.5rem 0;

                &:focus {
                    border: var(--border);
                }

                &::placeholder {
                    color: gray;
                }

                &::-webkit-calendar-picker-indicator {
                    filter: invert(1);
                }
            }

            input[type="date"] {
                border: var(--border);
                background-color: var(--button-color);
                padding: 1rem;
                border-radius: 0.25rem;
                color: var(--color);
                font-size: 1rem;
                width: inherit;
                outline: none;
                margin: 0.5rem 0;
                font-family: Arial, serif;
            }

            label {
                font-size: 0.9rem;
                font-family: Arial, serif;
                align-self: start;
                margin-top: 0.5rem;
            }

            .genderBox {
                display: flex;
                flex-direction: row;
                align-content: space-between;
                justify-content: center;

                label {
                    display: flex;
                    flex-direction: row;
                    flex-grow: 1;
                    width: 100%;
                    background-color: var(--button-color);
                    padding: 0.25rem 1rem;
                    text-align: start;
                    border: var(--border);
                    border-radius: var(--border-radius);

                    &:nth-child(1) {
                        margin-right: 0.5rem;
                    }

                    &:nth-child(2) {
                        margin-right: 0.5rem;
                    }

                    p {
                        flex: 10;
                        align-self: start;
                        color: var(--color);
                        margin: auto;
                    }

                    input[type="radio"] {
                        background-color: var(--main-color);
                        border-radius: 100%;
                        flex: 1;
                        justify-self: end;

                        &:checked {
                            //accent-color: snow;
                        }
                    }
                }
            }

            button {
                border-radius: var(--border-radius);
                background-color: #42b72a;
                margin: 0.5rem 0;
                padding: 0.6em 1.2em;
                border-color: transparent;

                h3 {
                    margin: 0;
                }
            }

            hr {
                height: 0;
                border-color: transparent;
                width: 100%;
            }

            p {
                margin: 0.5rem 0 1rem;
                font-size: 0.9rem;

                a {
                    color: var(--blue-color);
                    text-decoration: none;
                }
            }
        }
    }
}
